body {
    font-family: Arial, sans-serif;
}

.h2 {
    width: 100%;
    font-size: 90px;
    margin: auto;
}

kariform {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
    margin: auto;
}

.label, input[type="text"], input[type="range"] {
    display: block;
    margin-bottom: 10px;
}

.input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
