body {
    font-family: Arial, sans-serif;
    margin: 0; /* Убираем стандартные отступы */
    height: 100vh; /* Задаем высоту тела документа равной высоте окна просмотра */
    display: flex; /* Используем Flexbox для центрирования */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
}

.container {
    text-align: center; /* Центрирование текста внутри контейнера */
}

.kariform {
    width: 100%; /* Установка ширины контейнера равной ширине окна просмотра */
    display: flex;
    flex-direction: column; /* Столбцовый порядок элементов */
    align-items: center; /* Центрирование по горизонтали */
}

.form {
    width: 100%;
    margin: auto;
}

.label, input[type="text"], input[type="range"] {
    display: block;
    margin-bottom: 10px;
}

.input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#logo {
    position: absolute; /* Позиционирование абсолютно относительно ближайшего позиционированного предка */
    top: 10px; /* Расстояние от верхнего края страницы */
    left: 10px; /* Расстояние от левого края страницы */
    width: 150px; /* Ширина логотипа */
    height: auto; /* Автоматическая высота для сохранения пропорций изображения */
}
